#   MLlib: La librería de aprendizaje automático escalable de Apache Spark

En este notebook aprenderemos a entrenar modelos de Machine Learning con Spark, utilizando la librería de MLlib

In [1]:
pip install jupyter_contrib_nbextensions

Collecting jupyter_contrib_nbextensions
  Downloading jupyter_contrib_nbextensions-0.7.0.tar.gz (23.5 MB)
Requirement already satisfied: ipython_genutils in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Collecting jupyter_contrib_core>=0.3.3
  Downloading jupyter_contrib_core-0.4.2.tar.gz (17 kB)
Requirement already satisfied: jupyter_core in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_contrib_nbextensions) (4.9.2)
Collecting jupyter_highlight_selected_word>=0.1.1
  Downloading jupyter_highlight_selected_word-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting jupyter_nbextensions_configurator>=0.4.0
  Downloading jupyter_nbextensions_configurator-0.6.3-py2.py3-none-any.whl (466 kB)
Collecting nbconvert>=6.0
  Downloading nbconvert-6.0.7-py3-none-any.whl (552 kB)
Collecting notebook>=6.0
  Downloading notebook-6.4.10-py3-none-any.whl (9.9 MB)
Requirement already satisfied: tornado in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_contrib_nbextensions) (6.1)
Requirement already satisfied: traitlets>=4.1 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_contrib_nbextensions) (4.3.3)
Collecting lxml
  Downloading lxml-4.9.3-cp36-cp36m-win_amd64.whl (3.8 MB)
Requirement already satisfied: setuptools in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_contrib_core>=0.3.3->jupyter_contrib_nbextensions) (58.0.4)
Requirement already satisfied: pyyaml in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (6.0.1)
Requirement already satisfied: nbformat>=4.4 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (5.1.3)
Collecting testpath
  Downloading testpath-0.6.0-py3-none-any.whl (83 kB)
Collecting defusedxml
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Collecting mistune<2,>=0.8.1
  Downloading mistune-0.8.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.4)
Collecting bleach
  Downloading bleach-4.1.0-py2.py3-none-any.whl (157 kB)
Collecting pandocfilters>=1.4.1
  Downloading pandocfilters-1.5.0-py2.py3-none-any.whl (8.7 kB)
Collecting jupyterlab-pygments
  Downloading jupyterlab_pygments-0.1.2-py2.py3-none-any.whl (4.6 kB)
Requirement already satisfied: pygments>=2.4.1 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.14.0)
Requirement already satisfied: jinja2>=2.4 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.0.3)
Collecting nbclient<0.6.0,>=0.5.0
  Downloading nbclient-0.5.9-py3-none-any.whl (69 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jinja2>=2.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.0.1)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (7.1.2)
Collecting async-generator
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: nest-asyncio in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (1.5.8)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.8.2)
Requirement already satisfied: pyzmq>=13 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jupyter_core->jupyter_contrib_nbextensions) (305)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (22.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.18.0)
Requirement already satisfied: importlib-metadata in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (4.8.3)
Requirement already satisfied: six>=1.11.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (1.16.0)
Collecting Send2Trash>=1.8.0
  Downloading Send2Trash-1.8.2-py3-none-any.whl (18 kB)
Requirement already satisfied: ipykernel in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (5.5.5)
Collecting argon2-cffi
  Downloading argon2_cffi-21.3.0-py3-none-any.whl (14 kB)
Collecting terminado>=0.8.3
  Downloading terminado-0.12.1-py3-none-any.whl (15 kB)
Collecting prometheus-client
  Downloading prometheus_client-0.17.1-py3-none-any.whl (60 kB)
Collecting pywinpty>=1.1.0
  Downloading pywinpty-2.0.3.tar.gz (23 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'error'
  Downloading pywinpty-2.0.2.tar.gz (22 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'error'
  Downloading pywinpty-2.0.1.tar.gz (22 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'error'
  Downloading pywinpty-1.1.6-cp36-none-win_amd64.whl (1.4 MB)
Requirement already satisfied: decorator in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from traitlets>=4.1->jupyter_contrib_nbextensions) (5.1.1)
Collecting dataclasses
  Downloading dataclasses-0.8-py3-none-any.whl (19 kB)
Collecting argon2-cffi-bindings
  Downloading argon2_cffi_bindings-21.2.0-cp36-abi3-win_amd64.whl (30 kB)
Requirement already satisfied: typing-extensions in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from argon2-cffi->notebook>=6.0->jupyter_contrib_nbextensions) (4.1.1)
Collecting cffi>=1.0.1
  Downloading cffi-1.15.1-cp36-cp36m-win_amd64.whl (187 kB)
Collecting pycparser
  Downloading pycparser-2.21-py2.py3-none-any.whl (118 kB)
Requirement already satisfied: packaging in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from bleach->nbconvert>=6.0->jupyter_contrib_nbextensions) (21.3)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=6.0->jupyter_contrib_nbextensions) (3.6.0)
Requirement already satisfied: ipython>=5.0.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (7.16.1)
Requirement already satisfied: colorama in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.4.5)
Requirement already satisfied: pickleshare in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (3.0.36)
Requirement already satisfied: backcall in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jedi>=0.10 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: wcwidth in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.2.10)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ilse-\anaconda3\envs\bigdata2\lib\site-packages (from packaging->bleach->nbconvert>=6.0->jupyter_contrib_nbextensions) (3.1.1)
Building wheels for collected packages: jupyter-contrib-nbextensions, jupyter-contrib-core
  Building wheel for jupyter-contrib-nbextensions (setup.py): started
  Building wheel for jupyter-contrib-nbextensions (setup.py): finished with status 'done'
  Created wheel for jupyter-contrib-nbextensions: filename=jupyter_contrib_nbextensions-0.7.0-py2.py3-none-any.whl size=23428787 sha256=41bc2053b79929e22bc97b7d0a5aabbafd7172c2dae0a1a2d87e2369ee1c2a6a
  Stored in directory: c:\users\ilse-\appdata\local\pip\cache\wheels\bc\30\f6\b11297a115e4266004e1ca9fe4c45bb1530218cec8dc6d6c34
  Building wheel for jupyter-contrib-core (setup.py): started
  Building wheel for jupyter-contrib-core (setup.py): finished with status 'done'
  Created wheel for jupyter-contrib-core: filename=jupyter_contrib_core-0.4.2-py2.py3-none-any.whl size=17490 sha256=4c2f70d8da45ec0290b4961f172a26871f801919657579a90f9a61ff160c2e23
  Stored in directory: c:\users\ilse-\appdata\local\pip\cache\wheels\32\de\59\bafe20bb2fcdd06d67287ec2e2c69c7522fda9a640fdf01c3c
Successfully built jupyter-contrib-nbextensions jupyter-contrib-core
Installing collected packages: pycparser, webencodings, cffi, async-generator, testpath, pywinpty, pandocfilters, nbclient, mistune, jupyterlab-pygments, defusedxml, dataclasses, bleach, argon2-cffi-bindings, terminado, Send2Trash, prometheus-client, nbconvert, argon2-cffi, notebook, jupyter-contrib-core, lxml, jupyter-nbextensions-configurator, jupyter-highlight-selected-word, jupyter-contrib-nbextensions
Successfully installed Send2Trash-1.8.2 argon2-cffi-21.3.0 argon2-cffi-bindings-21.2.0 async-generator-1.10 bleach-4.1.0 cffi-1.15.1 dataclasses-0.8 defusedxml-0.7.1 jupyter-contrib-core-0.4.2 jupyter-contrib-nbextensions-0.7.0 jupyter-highlight-selected-word-0.2.0 jupyter-nbextensions-configurator-0.6.3 jupyterlab-pygments-0.1.2 lxml-4.9.3 mistune-0.8.4 nbclient-0.5.9 nbconvert-6.0.7 notebook-6.4.10 pandocfilters-1.5.0 prometheus-client-0.17.1 pycparser-2.21 pywinpty-1.1.6 terminado-0.12.1 testpath-0.6.0 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmp1zy4rbiw'
         cwd: C:\Users\ilse-\AppData\Local\Temp\pip-install-vniqxc1p\pywinpty_b02ed3c9686b4066a70ab5f3e0279073
    Complete output (6 lines):
    Checking for Rust toolchain....

    Cargo, the Rust package manager, is not installed or is not on PATH.
    This package requires Rust and Cargo to compile extensions. Install it through
    the system's package manager or via https://rustup.rs/

    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/c3/61/bda90dba80bc6cb905acebd0bf0710777ab04feb29d0f438202da0e82d72/pywinpty-2.0.3.tar.gz#sha256=6b29a826e896105370c38d53904c3aaac6c36146a50448fc0ed5082cf9d092bc (from https://pypi.org/simple/pywinpty/) (requires-python:>=3.6). Command errored out with exit status 1: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmp1zy4rbiw' Check the logs for full command output.
    ERROR: Command errored out with exit status 1:
     command: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmpdad1u6so'
         cwd: C:\Users\ilse-\AppData\Local\Temp\pip-install-vniqxc1p\pywinpty_20d326dd772840748eee3ed7c166df4f
    Complete output (6 lines):
    Checking for Rust toolchain....

    Cargo, the Rust package manager, is not installed or is not on PATH.
    This package requires Rust and Cargo to compile extensions. Install it through
    the system's package manager or via https://rustup.rs/

    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/43/88/f7d9b3b45a8b6109f60702cfa3b011edf7cfd8d2680f738bc4d1cb120897/pywinpty-2.0.2.tar.gz#sha256=20ec117183f79642eff555ce0dd1823f942618d65813fb6122d14b6e34b5d05a (from https://pypi.org/simple/pywinpty/) (requires-python:>=3.6). Command errored out with exit status 1: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmpdad1u6so' Check the logs for full command output.
    ERROR: Command errored out with exit status 1:
     command: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmpj2jgpc0j'
         cwd: C:\Users\ilse-\AppData\Local\Temp\pip-install-vniqxc1p\pywinpty_294ec46256d846af8eeaa4476121bd97
    Complete output (6 lines):
    Checking for Rust toolchain....

    Cargo, the Rust package manager, is not installed or is not on PATH.
    This package requires Rust and Cargo to compile extensions. Install it through
    the system's package manager or via https://rustup.rs/

    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/b0/85/4a563e195fd5de30e4e18c51a4c398adbcbf656ca9166182ee44e2454719/pywinpty-2.0.1.tar.gz#sha256=14e7321c6d43743af0de175fca9f111c5cc8d0a9f7c608c9e1cc69ec0d6ac146 (from https://pypi.org/simple/pywinpty/) (requires-python:>=3.6). Command errored out with exit status 1: 'c:\Users\ilse-\anaconda3\envs\bigdata2\python.exe' 'c:\Users\ilse-\anaconda3\envs\bigdata2\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\ilse-\AppData\Local\Temp\tmpj2jgpc0j' Check the logs for full command output.

#### Fase 1. Importación y análisis de datos

In [2]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Titanic Data') \
    .getOrCreate()

In [4]:
spark

In [6]:
df = (spark.read
          .format("csv")
          .option('header', 'true')
          .load("C:/Users/ilse-/BIG_DATA1/Big_Data1/4. Ejercicios Spark_ML_Koalas/train.csv"))

In [7]:
df.show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [8]:
df.toPandas().head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,None,S

In [9]:
df.show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [10]:
df.count()

891

In [11]:
df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [13]:
from pyspark.sql.types import *

data_schema = [
               StructField('PassengerId', IntegerType(), True),
               StructField('Survived', StringType(), True),
               StructField('Pclass', IntegerType(), True),
               StructField('Name', StringType(), True),
               StructField('Sex', StringType(), True),
               StructField('Age', IntegerType(), True),
               StructField('SibSp', IntegerType(), True),
               StructField('Parch', IntegerType(), True),
               StructField('Ticket', StringType(), True),
               StructField('Fare', DoubleType(), True),
               StructField('Cabin', StringType(), True),
               StructField('Embarked', StringType(), True),
            ]

final_struc = StructType(fields=data_schema)

df = spark.read.csv(
    'C:/Users/ilse-/BIG_DATA1/Big_Data1/4. Ejercicios Spark_ML_Koalas/train.csv',
    sep = ',',
    header = True,
    schema = final_struc
    )

In [14]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [15]:
# Basics stats from our columns
df.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,866,866,866,866,866,689,866,866,866,866,200,864
1,mean,446.97113163972284,0.3856812933025404,2.300230946882217,None,None,29.847605224963715,0.5277136258660509,0.37759815242494227,264373.1236306729,32.57242505773669,None,None
2,stddev,256.37755819268807,0.4870371056082385,0.8397219150282761,None,None,14.317668714749662,1.1131556315680113,0.8071396754421648,478381.3667343646,50.1330153452252,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,1,0,0,110152,0.0,A10,C
4,max,891,1,3,"van Melkebeke, Mr. Philemon",male,80,8,6,WE/P 5735,512.3292,T,S

In [14]:
#from pandas_profiling import ProfileReport

#df_pandas = df.toPandas()

#pfr = ProfileReport(df_pandas)
#pfr.to_notebook_iframe()
#pfr

#### Fase 2. Pre-procesamiento de datos

In [16]:
from pyspark.sql.functions import col

dataset = df.select(col('Survived').cast('float'),
                         col('Pclass').cast('float'),
                         col('Sex'),
                         col('Age').cast('float'),
                         col('Fare').cast('float'),
                         col('Embarked')
                        )
dataset.show()

+--------+------+------+----+-------+--------+
|Survived|Pclass|   Sex| Age|   Fare|Embarked|
+--------+------+------+----+-------+--------+
|     0.0|   3.0|  male|22.0|   7.25|       S|
|     1.0|   1.0|female|38.0|71.2833|       C|
|     1.0|   3.0|female|26.0|  7.925|       S|
|     1.0|   1.0|female|35.0|   53.1|       S|
|     0.0|   3.0|  male|35.0|   8.05|       S|
|     0.0|   3.0|  male|null| 8.4583|       Q|
|     0.0|   1.0|  male|54.0|51.8625|       S|
|     0.0|   3.0|  male| 2.0| 21.075|       S|
|     1.0|   3.0|female|27.0|11.1333|       S|
|     1.0|   2.0|female|14.0|30.0708|       C|
|     1.0|   3.0|female| 4.0|   16.7|       S|
|     1.0|   1.0|female|58.0|  26.55|       S|
|     0.0|   3.0|  male|20.0|   8.05|       S|
|     0.0|   3.0|  male|39.0| 31.275|       S|
|     0.0|   3.0|female|14.0| 7.8542|       S|
|     1.0|   2.0|female|55.0|   16.0|       S|
|     0.0|   3.0|  male| 2.0| 29.125|       Q|
|     1.0|   2.0|  male|null|   13.0|       S|
|     0.0|   3.0|female|31.0|   18.0|       S|
|     1.0|   3.0|female|null|  7.225|       C|
+--------+------+------+----+-------+--------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import isnull, when, count, col

dataset.select([count(when(isnull(c), c)).alias(c) for c in dataset.columns]).show()

+--------+------+---+---+----+--------+
|Survived|Pclass|Sex|Age|Fare|Embarked|
+--------+------+---+---+----+--------+
|      25|    25| 25|202|  25|      27|
+--------+------+---+---+----+--------+

In [18]:
# Drop missing values
dataset = dataset.replace('null', None)\
        .dropna(how='any')

In [19]:
from pyspark.ml.feature import StringIndexer

dataset = StringIndexer(
    inputCol='Sex', 
    outputCol='Gender', 
    handleInvalid='keep').fit(dataset).transform(dataset)

dataset = StringIndexer(
    inputCol='Embarked', 
    outputCol='Boarded', 
    handleInvalid='keep').fit(dataset).transform(dataset)

dataset.show()

+--------+------+------+----+-------+--------+------+-------+
|Survived|Pclass|   Sex| Age|   Fare|Embarked|Gender|Boarded|
+--------+------+------+----+-------+--------+------+-------+
|     0.0|   3.0|  male|22.0|   7.25|       S|   0.0|    0.0|
|     1.0|   1.0|female|38.0|71.2833|       C|   1.0|    1.0|
|     1.0|   3.0|female|26.0|  7.925|       S|   1.0|    0.0|
|     1.0|   1.0|female|35.0|   53.1|       S|   1.0|    0.0|
|     0.0|   3.0|  male|35.0|   8.05|       S|   0.0|    0.0|
|     0.0|   1.0|  male|54.0|51.8625|       S|   0.0|    0.0|
|     0.0|   3.0|  male| 2.0| 21.075|       S|   0.0|    0.0|
|     1.0|   3.0|female|27.0|11.1333|       S|   1.0|    0.0|
|     1.0|   2.0|female|14.0|30.0708|       C|   1.0|    1.0|
|     1.0|   3.0|female| 4.0|   16.7|       S|   1.0|    0.0|
|     1.0|   1.0|female|58.0|  26.55|       S|   1.0|    0.0|
|     0.0|   3.0|  male|20.0|   8.05|       S|   0.0|    0.0|
|     0.0|   3.0|  male|39.0| 31.275|       S|   0.0|    0.0|
|     0.0|   3.0|female|14.0| 7.8542|       S|   1.0|    0.0|
|     1.0|   2.0|female|55.0|   16.0|       S|   1.0|    0.0|
|     0.0|   3.0|  male| 2.0| 29.125|       Q|   0.0|    2.0|
|     0.0|   3.0|female|31.0|   18.0|       S|   1.0|    0.0|
|     0.0|   2.0|  male|35.0|   26.0|       S|   0.0|    0.0|
|     1.0|   2.0|  male|34.0|   13.0|       S|   0.0|    0.0|
|     1.0|   3.0|female|15.0| 8.0292|       Q|   1.0|    2.0|
+--------+------+------+----+-------+--------+------+-------+
only showing top 20 rows

In [20]:
dataset.dtypes

[('Survived', 'float'),
 ('Pclass', 'float'),
 ('Sex', 'string'),
 ('Age', 'float'),
 ('Fare', 'float'),
 ('Embarked', 'string'),
 ('Gender', 'double'),
 ('Boarded', 'double')]

In [21]:
# Drop unnecessary columns
dataset = dataset.drop('Sex')
dataset = dataset.drop('Embarked')
dataset.show()

+--------+------+----+-------+------+-------+
|Survived|Pclass| Age|   Fare|Gender|Boarded|
+--------+------+----+-------+------+-------+
|     0.0|   3.0|22.0|   7.25|   0.0|    0.0|
|     1.0|   1.0|38.0|71.2833|   1.0|    1.0|
|     1.0|   3.0|26.0|  7.925|   1.0|    0.0|
|     1.0|   1.0|35.0|   53.1|   1.0|    0.0|
|     0.0|   3.0|35.0|   8.05|   0.0|    0.0|
|     0.0|   1.0|54.0|51.8625|   0.0|    0.0|
|     0.0|   3.0| 2.0| 21.075|   0.0|    0.0|
|     1.0|   3.0|27.0|11.1333|   1.0|    0.0|
|     1.0|   2.0|14.0|30.0708|   1.0|    1.0|
|     1.0|   3.0| 4.0|   16.7|   1.0|    0.0|
|     1.0|   1.0|58.0|  26.55|   1.0|    0.0|
|     0.0|   3.0|20.0|   8.05|   0.0|    0.0|
|     0.0|   3.0|39.0| 31.275|   0.0|    0.0|
|     0.0|   3.0|14.0| 7.8542|   1.0|    0.0|
|     1.0|   2.0|55.0|   16.0|   1.0|    0.0|
|     0.0|   3.0| 2.0| 29.125|   0.0|    2.0|
|     0.0|   3.0|31.0|   18.0|   1.0|    0.0|
|     0.0|   2.0|35.0|   26.0|   0.0|    0.0|
|     1.0|   2.0|34.0|   13.0|   0.0|    0.0|
|     1.0|   3.0|15.0| 8.0292|   1.0|    2.0|
+--------+------+----+-------+------+-------+
only showing top 20 rows

In [22]:
# Assemble all the features with VectorAssembler
from pyspark.ml.feature import VectorAssembler

required_features = ['Pclass',
                    'Age',
                    'Fare',
                    'Gender',
                    'Boarded'
                   ]


assembler = VectorAssembler(inputCols=required_features, outputCol='features')
transformed_data = assembler.transform(dataset)

In [23]:
transformed_data.show()

+--------+------+----+-------+------+-------+--------------------+
|Survived|Pclass| Age|   Fare|Gender|Boarded|            features|
+--------+------+----+-------+------+-------+--------------------+
|     0.0|   3.0|22.0|   7.25|   0.0|    0.0|[3.0,22.0,7.25,0....|
|     1.0|   1.0|38.0|71.2833|   1.0|    1.0|[1.0,38.0,71.2833...|
|     1.0|   3.0|26.0|  7.925|   1.0|    0.0|[3.0,26.0,7.92500...|
|     1.0|   1.0|35.0|   53.1|   1.0|    0.0|[1.0,35.0,53.0999...|
|     0.0|   3.0|35.0|   8.05|   0.0|    0.0|[3.0,35.0,8.05000...|
|     0.0|   1.0|54.0|51.8625|   0.0|    0.0|[1.0,54.0,51.8624...|
|     0.0|   3.0| 2.0| 21.075|   0.0|    0.0|[3.0,2.0,21.07500...|
|     1.0|   3.0|27.0|11.1333|   1.0|    0.0|[3.0,27.0,11.1332...|
|     1.0|   2.0|14.0|30.0708|   1.0|    1.0|[2.0,14.0,30.0708...|
|     1.0|   3.0| 4.0|   16.7|   1.0|    0.0|[3.0,4.0,16.70000...|
|     1.0|   1.0|58.0|  26.55|   1.0|    0.0|[1.0,58.0,26.5499...|
|     0.0|   3.0|20.0|   8.05|   0.0|    0.0|[3.0,20.0,8.05000...|
|     0.0|   3.0|39.0| 31.275|   0.0|    0.0|[3.0,39.0,31.2749...|
|     0.0|   3.0|14.0| 7.8542|   1.0|    0.0|[3.0,14.0,7.85419...|
|     1.0|   2.0|55.0|   16.0|   1.0|    0.0|[2.0,55.0,16.0,1....|
|     0.0|   3.0| 2.0| 29.125|   0.0|    2.0|[3.0,2.0,29.125,0...|
|     0.0|   3.0|31.0|   18.0|   1.0|    0.0|[3.0,31.0,18.0,1....|
|     0.0|   2.0|35.0|   26.0|   0.0|    0.0|[2.0,35.0,26.0,0....|
|     1.0|   2.0|34.0|   13.0|   0.0|    0.0|[2.0,34.0,13.0,0....|
|     1.0|   3.0|15.0| 8.0292|   1.0|    2.0|[3.0,15.0,8.02919...|
+--------+------+----+-------+------+-------+--------------------+
only showing top 20 rows

In [24]:
transformed_data.head()

Row(Survived=0.0, Pclass=3.0, Age=22.0, Fare=7.25, Gender=0.0, Boarded=0.0, features=DenseVector([3.0, 22.0, 7.25, 0.0, 0.0]))

#### Fase 3. Entrenamiento del modelo

In [25]:
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [26]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(labelCol='Survived', 
                            featuresCol='features',
                            maxDepth=5)

In [27]:
model = rf.fit(training_data)

In [28]:
# Predict with the test dataset
predictions = model.transform(test_data)

#### Fase 4. Evaluación del modelo

In [29]:
# Evaluate our model
#from pyspark.ml.evaluation import BinaryClassificationEvaluator

#evaluator = BinaryClassificationEvaluator(
#    labelCol='Survived', 
#    predictionCol='prediction', 
#    metricName='accuracy')

# Evaluate our model
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Create an evaluator for binary classification
evaluator = BinaryClassificationEvaluator(labelCol='Survived', metricName='areaUnderROC')

# Evaluate the model
# Note: You need to have a DataFrame with predictions already computed
# For example, predictions = model.transform(testData)
accuracy = evaluator.evaluate(predictions)

In [30]:
# Accuracy
accuracy = evaluator.evaluate(predictions)
print('Test Accuracy = ', accuracy)

Test Accuracy =  0.8840613026819925